APP_NAME=api-projeto-integrador
NODE_ENV=development
PORT=3000
CORS_ORIGIN=*
LOG_LEVEL=info
MONGO_URI=mongodb+srv://<usuario>:<senha>@<cluster>.mongodb.net/?appName=<app>
MONGO_DB_NAME=ETL
MONGO_COLLECTION=contratacoes_brutas
MONGO_USERS_COLLECTION=users
MONGO_DOCUMENTS_COLLECTION=user_documents
MONGO_ALERTS_COLLECTION=user_alerts
MONGO_REVOKED_TOKENS_COLLECTION=revoked_tokens
MONGO_CONNECT_RETRIES=5
MONGO_CONNECT_RETRY_DELAY_MS=2000
JWT_SECRET=<gere-um-segredo-com-pelo-menos-32-caracteres>
JWT_EXPIRES_IN=1h
JWT_ISSUER=api-projeto-integrador
JWT_AUDIENCE=front-projeto-integrador
